---
import { Image } from "@astrojs/image/components";
import type { ProjectsFM } from "types/frontmatter";
import requestD from '../assets/requestD.png'

const { title, cover, description, techs } = Astro.props as ProjectsFM;
const slug = title.toLowerCase().split(" ").join('-');
---

<li class=" group basis-full sm:basis-[45%] lg:basis-[32%] lg:flex-nowrap hover:cursor-pointer transition-all  p-3 rounded-lg max-w-md  ">
    <Image src={import.meta.env.DEV ? requestD : cover} aspectRatio="16:9" format="png" class="rounded-lg group-hover:ring-2 border-4 border-white transition-all group-hover:ring-primary-red " alt={title}
        width={1200} height={630} />
    <ul class="flex items-center py-3 gap-2">
        {techs.map(tech => {
            return <span class="text-xs px-1 ring-1 ring-[#588FE1] text-[#588FE1] rounded-sm ">{tech}</span>
        })}
    </ul>
    <h2 class="text-xl ">{title}</h2>
    <p class="text-secondary-text text-sm mb-6 line-clamp-3">{description}</p>
    <a href={`/projects/${slug}`} class="group-hover:underline hover:underline text-primary-red transition-all ">more
        details</a>
</li>